/* , -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" */

body {
  font-family: "Poppins";
  background-color: #fcfcfc; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins" !important
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }


h2 {
  font-size: 20px; }

body {
  position: relative; }
  body:before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
  body.show-sidebar:before {
    opacity: 1;
    visibility: visible; }

.site-section {
  padding: 1rem 0; }

aside, main {
  height: 100vh;
  min-height: 580px; }

aside {
  width: 300px;
  left: 0;
  z-index: 1001;
  position: fixed;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #fff;
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1); }

  .show-sidebar aside {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

  aside .toggle {
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
    .show-sidebar aside .toggle .burger:before, .show-sidebar aside .toggle .burger span, .show-sidebar aside .toggle .burger:after {
      background: #fff; }
  .show-sidebar aside {
    -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1); }
  aside .side-inner {
    padding: 24px;
    height: 100vh;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; }
    aside .side-inner .profile {
      font-family: 'Poppins';
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #efefef; }
      aside .side-inner .profile img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin: 0 16px 0 0;
        border-radius: 50%; }
      aside .side-inner .profile .name {
        font-size: 16px;
        margin-bottom: 0; }
      aside .side-inner .profile .country {
        font-size: 12px;
        font-weight: lighter;
        color: #cfcfcf; }
    aside .side-inner .counter {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #efefef;
      text-align: center; }
      aside .side-inner .counter div .number {
        display: block;
        font-size: 20px;
        color: #000; }
      aside .side-inner .counter div .number-label {
        color: #cfcfcf; }
    aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
      padding: 0;
      font-size: 14px;
      margin: 0px;
      list-style: none; }
    aside .side-inner .nav-menu ul li a {
      font-family:Poppins;
      display: block;
      border-radius: 8px;
      padding:16px 24px;
      margin-bottom: 16px;
      color: #8b8b8b;
      position: relative;
      -webkit-transition: .3s padding-left ease;
      -o-transition: .3s padding-left ease;
      transition: .3s padding-left ease; }
      aside .side-inner .nav-menu ul li a:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0px;
        background-color: #ff7315;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
        -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
        transition: .3s opacity ease, .3s visibility ease, .3s width ease; }
      aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
        outline: none; }
      aside .side-inner .nav-menu ul li a:hover {
        background: rgba(255, 60, 0, 0.05);
        color: #E98055; }
        aside .side-inner .nav-menu ul li a:active {
          background: rgba(255, 60, 0, 0.05);
          color: #E98055; }
        
    aside .side-inner .nav-menu ul li.active a {
      background: rgba(255, 60, 0, 0.05) !important;
      color: #E98055 !important;
    }

    aside .side-inner .button{
      background: transparent;
      width: -webkit-fill-available;
      height: auto;
      padding: 8px 16px;
      position: relative;
      margin-top: 24px;
      border: 1px solid #eee !important;
      color: #EC8057 !important;
    }

    aside .side-inner .button:hover{
      border: 1px solid #EC8057 !important;
    }

    aside .side-inner .account{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    aside .side-inner .user{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }

main {
  width: calc(100%); }
  main .post-entry {
    margin-bottom: 30px; }
    main .post-entry .custom-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      margin-right: 30px; }
  main .post-content h3 {
    font-size: 18px; }
  main .post-content .post-meta {
    font-size: 15px;
    color: #ccc; }

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  float: right; }

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1; }

.burger:before, .burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: ""; }

.burger:before {
  top: 4px; }

.burger span {
  top: 15px; }

.burger:after {
  top: 26px; }

/* Hover */
.burger:hover:before {
  top: 7px; }

.burger:hover:after {
  top: 23px; }

/* Click */
.burger.active span {
  opacity: 0; }

.burger.active:before, .burger.active:after {
  top: 40%; }

.burger.active:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/ }

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/ }

.burger:focus {
  outline: none; }

  /* button */

.button{
  cursor:pointer;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.button .primary-btn{
  background: #EC8057 !important;
  color: #fff !important;
}

/* .button .secondary-btn{
} */

.button .inactive-btn{
  background: lightgray;
  color: gray;
}

/* [data-href] {
  cursor: pointer;
}

tr:hover {
  background-color: hsl(31, 78%, 64%);
} */

.header {    
  overflow: hidden;
  width: 100% !important;
  margin-bottom: 24px;
  background: transparent;
  /* position: fixed; */
  z-index: 1;
}

.header-kiri {
  float: left; 
}

.header img{
  width:50%;
  float:left;
}

.header a.logo {
  width: 250px;
}

.header a.active {
  background-color: #EC8057;
  color: white;
}

.header-right {
  float: right;
}

.header-right a {
  color: lightgray;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.notification{
    max-width: 500px;
    z-index: 0;
    border: 1px solid #eee;
    border-radius: 8px;
    right: 0;
    margin-right: 200px;
    position: fixed;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');*{
  padding: 0px;
  margin: 0px
} */

.icon{
  cursor: pointer;
  margin-right: 50px;
  line-height: 60px
}

.icon span{
  background: #f00;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
  margin-left: -25px

}

.icon img{
  display: inline-block;
  width: 26px;
  margin-top: 4px
}

.icon:hover{
  opacity: .7
}

.logo{
  flex: 1;
  margin-left: 50px;
  color: #eee;
  font-size: 20px;
  font-family: monospace
}

.notifications{
  display: none;
  width: 300px;
  z-index: 1;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: 63px;
  right: 62px;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2{
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999
}

.notifications h2 span{
  color: #f00
}

.notifications-item{
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 9px
  ;margin-bottom: 0px;
  cursor: pointer
}

.notifications-item:hover{
  background-color: #eee
}

.notifications-item img{
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border-radius: 50%;
  margin-top: 2px
}

.notifications-item .text h4{
  color: #777;
  font-size: 16px;
  margin-top: 3px
}

.notifications-item .text p{
  color: #aaa;
  font-size: 12px
}